{% extends 'adminapp/base.html' %}

{% block menu %}
{% endblock %}

{% block container %}
    <div class="login">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            <input type="submit" value="Сохранить" class="form-control">
        </form>
        <a href="{% url 'my_admin:index' %}"
           class='btn btn-round form-control'>
            К списку пользователей
        </a>
    </div>
{% endblock %}
