{% extends 'adminapp/base.html' %}
{% load static %}

{% block menu %}
{% endblock %}

{% block container %}
    <div class="login">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Сохранить" class="form-control">
        </form>
        <a href="{% url 'my_admin:categories_read' %}" class='btn btn-primary form-control'>
            К списку категорий
        </a>
    </div>
{% endblock %}
