{% extends 'mainapp/base.html' %}
{% load static %}

{% block container %}
    <div class="catalog-ajax-wrapper">
        <section class="padding-site clearfix">
            {% include 'mainapp/includes/inc__main_menu.html' %}
            {% include 'mainapp/includes/inc__product_menu.html' %}
        </section>
        <section class="catalog-ajax-include products padding-site clearfix">
            {% include 'mainapp/includes/inc__catalog_products.html' %}
        </section>
    </div>
{% endblock %}
